// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/variables-dark";
// @import "bootstrap/scss/maps";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/forms";
@use "bootstrap/scss/bootstrap";
@use "./grid.scss";


.alert {
	position: absolute;
	top: 10px;
	z-index: 1056;
	width: 100%;
	height: 50px;
}
body {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

$size-breakpoint:820px;

$grid-max-size:calc(grid.$grid-constrained-dimension + 20px);
:root {
	--grid-max-size: #{$grid-max-size};
}
@mixin page-scale($scale-factor) {
	// @media (max-width: $grid-max-size) {
	// 	body {
	// 		width: calc($scale-factor*100vw);
	// 		height: calc($scale-factor*100vh);
	// 		transform-origin: top left;
	// 		transform: scale(calc(100%/$scale-factor));
	// 	}
	// }
}


@media (max-aspect-ratio: 1/1) {
	#grid {	@include grid.grid-vertical; }
	// @include page-scale(calc($grid-max-size/100vw))
}

@media (min-aspect-ratio: 1/1) {
	#grid {	@include grid.grid-horizontal; }
	// @include page-scale(calc($grid-max-size/100vh))
}


