@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

body {
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#grid {
    --#{$prefix}list-group-color: #{$list-group-color};
    --#{$prefix}list-group-bg: #{$list-group-bg};
    --#{$prefix}list-group-border-color: #{$list-group-border-color};
    --#{$prefix}list-group-border-width: #{$list-group-border-width};
    --#{$prefix}list-group-border-radius: #{$list-group-border-radius};
    --#{$prefix}list-group-item-padding-x: #{$list-group-item-padding-x};
    --#{$prefix}list-group-item-padding-y: #{$list-group-item-padding-y};
    --#{$prefix}list-group-action-color: #{$list-group-action-color};
    --#{$prefix}list-group-action-hover-color: #{$list-group-action-hover-color};
    --#{$prefix}list-group-action-hover-bg: #{$list-group-hover-bg};
    --#{$prefix}list-group-action-active-color: #{$list-group-action-active-color};
    --#{$prefix}list-group-action-active-bg: #{$list-group-action-active-bg};
    --#{$prefix}list-group-disabled-color: #{$list-group-disabled-color};
    --#{$prefix}list-group-disabled-bg: #{$list-group-disabled-bg};
    --#{$prefix}list-group-active-color: #{$list-group-active-color};
    --#{$prefix}list-group-active-bg: #{$list-group-active-bg};
    --#{$prefix}list-group-active-border-color: #{$list-group-active-border-color};
}

#grid {
    overflow-x:scroll;
    height:100%;
    display:grid;
    grid-auto-flow: column;
    width:100%;
    grid-template-rows: 150px repeat(var(--grid-columns), 42px);
    
    .grid-row {
        .grid-item.highlight-column {
            background-color: #ffe4a0 !important;
        }
        
        .grid-item {
            border-radius: 0;
            position: relative;
            padding: var(--#{$prefix}list-group-item-padding-y) var(--#{$prefix}list-group-item-padding-x);
            color: var(--#{$prefix}list-group-color);
            background-color: var(--#{$prefix}list-group-bg);
            border: var(--#{$prefix}list-group-border-width) solid var(--#{$prefix}list-group-border-color);
            &:not(:first-child) {
                margin-top:-1px;
            }
        }
        &.highlight-included > .grid-item {
            background-color: #f6ffa1;
        }
        
        display: contents;
        
        &:not(:first-child) .grid-item {
            margin-left:-1px;
        }

        &:not(:first-child) .grid-item:not(:first-child) {
            display: flex;
            justify-content: center;
            justify-items: center;
        }

        &:not(:first-child) {
            .grid-item:first-child {
                display:flex;
                justify-content: start;
                align-items: center;
                writing-mode: vertical-rl;
            }
        }

        &:first-child {
            .grid-item:first-child {border-top-left-radius: 5px}
            .grid-item:last-child  {border-bottom-left-radius: 5px}
            font-weight: 700;
            .grid-item {
                border-right-width: 3px;
                width:300px;
                position: sticky;
                left:0;
                z-index: 100;
                
            }
        }
    
        &:last-child {
            .grid-item:first-child {border-top-right-radius: 5px}
            .grid-item:last-child  {border-bottom-right-radius: 5px}
        }
    }
    
}